<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dicas Sustentáveis - Green Living</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pi.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Dicas.css') }}">
</head>

<body>
    <nav class="menu">
        <div class="menu-links">
            <a href="{{ url_for('main.pi') }}">Início</a>
            <a href="{{ url_for('main.dicas') }}">Dicas Sustentáveis</a>
            <a href="{{ url_for('main.coleta') }}">Pontos de Coletas</a>
            <a href="{{ url_for('main.loguin') }}">Loguin</a>
        </div>
    </nav>

    <section class="hero-custom">

        <div class="hero-body">

            <h1 class="titulo-principal">
                Dicas Sustentáveis
            </h1>

            <div class="cards-container">

                <!-- Compostagem -->
                <div class="card">

                    <div class="caixa" onclick="abrirConteudo('compostagem')">

                        <h3 class="card-titulo">
                            Compostagem
                        </h3>

                        <div id="compostagem" class="conteudo">

                            <img src="{{ url_for('static', filename='img/compostagem.png') }}" alt="Compostagem">

                            <h3>
                                <strong>O que é Compostagem?</strong>
                            </h3>

                            <p>
                                A compostagem é o processo natural de decomposição de resíduos orgânicos
                                (cascas de frutas, vegetais, folhas e restos de comida)
                                em adubo rico chamado composto.Transforma lixo em fertilizantes para plantas, reduzindo
                                desperdício,
                                de emissões de metano em aterros e melhorando o solo de forma sustentável,ideal para
                                hortas urbanas!

                            </p>

                            <hr>

                            <h3>
                                <strong>Como fazer uma Composteira Caseira</strong>
                            </h3>

                            <strong>Escolha o local adequado</strong>


                            <p>
                                Escolha um espaço ventilado e externo, como jardim ou varanda amplia
                                a boa circulação do ar é essencial para os micro-organismos aceleram a decomposição,
                                evitando odores indesejados e garantindo eficiência.
                            </p>

                            <strong>Escolha o tipo de composteira</strong>



                            <ol>
                                <li>Baldes plásticos perfurados</li>
                                <li>Caixas de madeira tratada</li>
                                <li>Composteiros prontos de lojas especializadas proirize ventilação(furos laterais e no
                                    fundo) e tamanho proporcional ao volume resíduos (mínimo 50L para famílias
                                    pequenas).</li>
                            </ol>

                            <strong>Organize as Camadas </strong>
                            <p>
                                - Verdes(nitrogênio) : Restos de Alimentos,cascas de frutas/legumes,ervas.

                                <br>
                                - Marrons(Carbono):Folhas secas,palha, papel picado sem tintas.
                                <br>
                                Proporcional ideal: 1 parte verde para 2-3 partes marrons, inicie com 10cm de marrons no
                                fundo da drenagem.
                            </p>


                            <strong>Manutenção diária</strong>

                            <ol>
                                <li>Adicionar os resíduos corretamente </li>
                                Orgânicos frescos(frutas,legumes,borra de café ,cascas de ovo).
                                <li> Evite: carne,gorduras,cozidos ,laticínios (causam cheiro/pragas).</li>
                                <li>Cobrir Sempre </li>
                                Use folhas secas, serragem ou papelão sobre úmidos para bloquear odor de moscas.
                                <li>Monitorar Cheiro/Umidade</li>
                                -Bom: terra molhada Ruim/podre:adicione seco + aerar
                                Umidade ideal:esponja espremida (ajuste com água/folhas).
                                <li> Prevenir Insetos </li>
                                Cubra tudo, feche a tampa e evite exposição.

                            </ol>


                            <hr>

                            <h3>Fechar Guia</h3>

                        </div>

                    </div>

                </div>

                <!-- Limpeza -->
                <div class="card">

                    <div class="caixa" onclick="abrirConteudo('limpeza')">

                        <h3 class="card-titulo">
                            Limpeza e Preparo
                        </h3>

                        <div id="limpeza" class="conteudo">

                            <img src="{{ url_for('static', filename='img/limpeza.png') }}" alt="Limpeza">

                            <h3>
                                <strong>O que é Limpeza para Reciclagem?</strong>
                            </h3>

                            <p>
                                Processo essencial de remoção de contaminantes orgânicos (restos de comida, gorduras) e
                                resíduos aderentes de materiais
                                como plásticos, metais, vidros e papéis, garantindo pureza 95%.
                                Eleva valor de revenda em 30%, previne rejeição em usinas e otimiza a reciclagem
                                circular sustentável.

                            </p>

                            <hr>

                            <h3>
                                <strong>Dicas de Limpeza</strong>
                            </h3>

                            <ol>
                        <li> </li>
                        <br>
                        <li> </li>
                        <br>
                        <li> </li>
                        </ol>



                            <hr>

                            <h3>
                                <strong>Preparo para reciclagem</strong>
                            </h3>

                            <p>
                                Separação e organização correta dos resíduos recicláveis.
                            </p>

                            <hr>

                            <h3>Fechar Guia</h3>

                        </div>

                    </div>

                </div>

                <!-- Reaproveitar -->
                <div class="card">

                    <div class="caixa" onclick="abrirConteudo('reaproveitar')">

                        <h3 class="card-titulo">
                            Reaproveitar Ideias
                        </h3>

                        <div id="reaproveitar" class="conteudo">

                            <img src="{{ url_for('static', filename='img/reaproveitar.png') }}" alt="Reaproveitar">

                            <h3>
                                <strong>O que é Reaproveitar Ideias?</strong>
                            </h3>

                            <p>
                                Uso criativo de resíduos para criar novos produtos úteis.
                            </p>

                            <hr>

                            <h3>
                                <strong>Dicas de reaproveitamento</strong>
                            </h3>

                            <p>
                                Garrafas PET podem virar vasos, caixas podem virar prateleiras e muito mais.
                            </p>

                            <hr>

                            <h3>Fechar Guia</h3>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>


    <script src="{{ url_for('static', filename='js/Dicas.js') }}"></script>

</body>

</html>
